body {
  background: url('img/bg.png') repeat #fdd54f;
  margin: 0;
}

#container {
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

#container p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#container p img {
  display: block;
  margin: 0 auto;
}